h2 {
  text-align: center;
}

.intro-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  .wallet {
    width: 80vw;
    margin: 10px;
  }
  .title {
    font-size: 18px;
    color: #858584;
    line-height: 160%;
  }
  .walletInfo {
    font-size: 18px;
  }
}
