.webpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.intro-box {
  width: 60%;
  p {
    font-size: 14px;
  }
  h3 {
    width: 80vw;
    margin-bottom: 5px;
  }
}
