.webpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

h3 {
  width: 80vw;
}

.hint {
  font-size: 14px;
}
