form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .add-details {
    margin-left: 20px;
  }
}

.upload-box {
  margin-bottom: 10px;
  input {
    border-radius: 10px;
    display: inline;
  }
  span {
    font-size: 14px;
    float: right;
  }
  textArea {
    border-radius: 20px;
  }
}

.upload-img-box {
  background-color: transparent;
  margin: 10px 0;
}

.upload-img {
  border: 0;
  display: inline;
  background: transparent;
  color: white;
  margin-left: -10px;
}
.upload-img:hover {
  background: transparent;
  cursor: pointer;
}

.upload-img:focus-within{
  background: transparent;
}

.ant-input-outlined:focus-within {
  border: none;
  box-shadow: none;
  outline: 0;
}

.ant-image-img{
  object-fit: cover;
}
