.marketplace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-top {
    font-weight: bold;
    color: white;
  }
  .detail {
    display: flex;
    margin-top: 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100vw;
    text-align: center;
  }
}

.container {
  width: 18rem;
  border: 2px solid;
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.05);
  .image {
    width: 18rem;
    height: 20rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
}

.text-container {
  width: 17rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: -2rem;
  margin-left: 3rem;
  color: black;
  .title {
    font-size: 1.25rem;
  }
  .description {
    // display: inline;
  }
}
