.setacl {
  display: flex;
  flex-direction: column;
  align-items: center;
  .checkbox span{
    color: #fff;
    .ant-checkbox-inner:after{
      border-color: white;
    }
  }
  h3{
    width: 80vw;
  }
  h4{
    width: 80vw;
    font-size: 20px;
    margin-top: 20px;
  }
  p{
    font-size: 14px;
  }
  a:hover{
    color: #fff;
  }

}

.btn {
  span {
    color: #fff;
  }
}

.details-box {
  .des-nft {
    width: 300px;
    margin-bottom: 10px;
    display: block;
  }
}

.des-btn {
  border: 0;
  margin-left: 5px;
  width: 200px;
}
